#navbarLogo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.onimage {
  background-color: #009e60a5;
  border-radius: 25px;
  padding: 20px;
  color: white;
}

body {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #009e60;
}

#mainNav2 {
  background-color: #009e60;
  color: white;
}

#navbar-brand2 {
  color: white;
}

.contact-header {
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
}

.col-lg-9.center_div {
  margin: 0 auto;
  width: 75%;
}

#text-responsive {
  font-size: calc(100% + 0.75vw + 0.75vh);
}

.slideshow {
  position: static;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(assets/img/fullsize/photo-1558944351-3f79926e74ef.jpg);
}
.slideshow li:nth-child(2) {
  background-image: url(assets/img/fullsize/photo-1541358800921-39f1c44bdde8.jpeg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(assets/img/fullsize/photo-1545078194-2ec3c4e53ed1.jpeg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(assets/img/fullsize/photo-1573052905904-34ad8c27f0cc.jpeg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(assets/img/fullsize/photo-1523633891499-c72d7aa7594f.jpeg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}
